<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Results for {{game.platforms[1]}}</h1>
  <p class="lead">
    <div ng-init="game ='PS2'"> <!--Changed game title to Doom 05/24/16 -->
        <p>
          <label for="game ">Game:
            <input type="text" name="game " ng-model="game ">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">Find Game</button>
        </p>
      <dl ng-repeat="(key, game) in current">
        <dt>Title </dt>
        <dd>{{game.title}}</dd>
        <dd>{{game.publisher}}</dd>
        <dd>{{game.score}}</dd>
        <dt>Description</dt>
        <dd>{{game.short_description}}</dd>
        <dt>Platform</dt>
        <dd>{{game.platforms[1]}}</dd>
        <dd>{{game.platforms[2]}}</dd>
        <dd>{{game.thumb}}</dd>
      </dl>
    </div>
  </p>
</div>

<div ng-if="storage.savedCities">
  <h2>Saved Games</h2>
  <ul class="saved-cities-list">
    <li ng-repeat="city in storage.savedCities">
      <a ng-href="/#/current/{{game.title}}" class="btn btn-lg btn-primary">{{game.title}}</a>
    </li>
  </ul>
</div> 
