<div ng-app class="jumbotron" ng-controller="XboxCtrl">
  <div class="introConsole">
    <h2>Popular Games for Xbox</h2>
  </div><br><br>
  <p class="lead">
    <p>
      <label for="game ">Game:
        <input type="text" name="game " ng-model="game " placeholder="Search More Games Here">
      </label>
    </p>
    <p>
      <button class="btn btn-lg btn-primary" ng-click="refreshXbox()">Find Game</button>
    </p>
    <div class="container" ng-repeat="(key, game) in xbox">
      <div class="row">
        <div class="row">
          <div class=" text-center">
            <div class="box">
              <div class="box-content">
                <dl>
                  <table id="shownInfo" style="width:100%">

                   <tr>
                    <td colspan="2"><dd><h2>{{game.title}}</h2></dd></td><br>
                  </tr>
                  <tr> 
                    <td colspan="2"><dd><img ng-src="{{game.thumb}}" alt="{{game.title}} thumbnail"></dd></td>
                  </tr> 
                </table>
                <table style="width:100%" ng-show="gameInfo">
                 <tr>
                  <th><dt>Description</dt>
                    <td><dd>{{game.short_description}}</dd></td>
                  </tr>
                  <tr >
                    <th><dt>Score</dt></th>
                    <td><dd>{{game.score}}</dd></td>
                  </tr>
                  <tr >
                    <th><dt>Publisher</dt></th>
                    <td><dd>{{game.publisher}}</dd></td>
                  </tr>
                  <tr >
                    <th><dt>Platform</dt></th>
                    <td><dd ng-repeat="platform in game.platforms">{{platform}}</dd></td>
                  </tr>
                </table>

                <br>
                <a href ng-click="gameInfo = !gameInfo" class="btn btn-block btn-primary">Learn more</a>
              </dl>
            </div>
          </div>
        </div>
      </div>           
    </div>
  </div>
</p>
</div>


